
  <% unless @flashcard.nil? %>
    <div id="card" data-id="<%= @flashcard.id %>">
      <div id="characters">
        <%= @flashcard.characters %>
      </div>
      <div id="answers">
        <div id="pinyin">
          <%= @flashcard.pinyin %>
        </div>
        <div id="english">
          <%= @flashcard.english %>
        </div>
      </div>
      <div id="sidebar">
        <div id="know"></div>
        <div id="dontKnow"></div>
      </div>
    </div>
  <% else %>
    <div id="card">
      <form action="reset" data-load="body">
        <div style="position:relative; top:40%;">
          No flashcards found!<br/>
          <input type="submit" value="Reset answers"/>
        </div>
      </form>
    </div>

  <% end %>

  <br/><br/>
  <div>&nbsp;
    <a id="addLink" href="" data-show="options">add characters</a>
  </div>
  <div id="options">
    <form action="/" method="POST" id="add">
      <a href="" data-hide="options" data-show="addLink">i'm done adding</a>
      <input type="text" name="characters" placeholder="中文子"/>
      <input type="text" name="pinyin" placeholder="pinyin"/>
      <input type="text" name="english" placeholder="english"/>
      <input type="submit" value="add"/>
    </form>
    <div id="categoryLoad">
      <%= erb :categories, :layout => false %>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      initFadeLinks();
      initFormSubmits();
      initCategories();
      initKnow();
      initDontKnow();
    });
  </script>

